.activities__content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 8px;
}
.date-nav{
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
}
.date-nav__button{
    font-size: 14px;
    font-weight: bold;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
.date-nav__link:hover{
    text-decoration: none;
}
.content-f{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.activity__count {
    width: 40%;
    background-color: #2b4269;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20%;
}

.activity__count-total,
.activity__count-month {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.activity__count-total span,
.activity__count-month span {
    font-size: 32px;
    font-weight: bold;
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
}

.month-list {
    margin-top: 20px;
}

.month-list__heading {
.month-list{
    margin-top: 20px;
}
.month-list__heading{
    padding: 8px 16px;
    border-bottom: 2px solid #d34441;
    background-color: #f9ece2;
    font-size: 24px;
}

.month-list__content-f{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: calc(10px + 1vw);
    row-gap: calc(20px + 4vh);
    justify-content: center;
}

.activity-card {
    width: 100%;
}

.activity-card{
    width: 100%;
}
.activity-card a{
    text-decoration: none;
    color: #000;
    transition: opacity 0.3s;
}

.activity-card a:hover {
    text-decoration: none;
    color: #000;
    opacity: 0.7;
}
.activity-card__img{
    width: 100%;
    aspect-ratio: 1 / 1;
}
.activity-card__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}
.activity-card__shop-name p{
    margin: 4px 0 0 0;
    padding: 0;
}


@media(max-width: 991px) {
    .content-f {
        flex-direction: column;
    }
    .activity__count {
        width: 100%;
    }
    .activity__count-total,
    .activity__count-month {
        font-size: 12px;
    }
    .activity__count-total span,
    .activity__count-month span {
        font-size: 24px;
        font-weight: bold;
        display: inline-block;
        margin-left: 2px;
        margin-right: 2px;
    }
}

@media(max-width: 767px) {
    .month-list__content-f {
        grid-template-columns: repeat(3, 1fr);
        gap: calc(10px + 1vw);
        row-gap: calc(20px + 2vh);
    }
    .activity-card__shop-name p {
        font-size: 14px;
    }
}
