.bg-img {
    width: 100%;
    height: 100%;
    background-image: url('/images/top-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar.navbar-expand-sm.navbar-dark, .navbar.navbar-dark.justify-content-center{
    background-color: #d34441;
}
