.custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}
.custom-search-input form{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.custom-search-input input {
    border: none;
    box-shadow: none;
    border-radius: 0;
}

.custom-search-input button {
    height: 80%;
    margin: 4px 0 0 0;
    background-color: #fff;
    box-shadow: none;
    color: #666666;
    padding: 5px 8px 5px 10px;
    border: none;
    border-radius: 0;
    border-left: solid 1px #ccc;
}

.custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    color: #14A2B8;
    background-color: #fff;
    border-left: solid 1px #ccc;
}
.custom-search-input .fa-magnifying-glass{
    font-size: 23px;
}

.custom-search-input .form-control {
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    box-sizing: border-box;
}
