.content-f{
    display: flex;
}
.card.custom-card{
    background-color: #ad302e;
}
.custom-tabs{
    width: 66%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 10px;
}
.custom-edit-btn{
    margin-top: 20px;
}
.custom-edit-btn a{
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #ad302e;
    padding: 8px 0;
    border-radius: 4px;
    background-color: #F6DE8E;
    transition: color 0.3s, opacity 0.3s;
}
.custom-edit-btn a:hover{
    opacity: 0.7;
    color: #ad302e;
    text-decoration: none;
}

.custom-edit-btn__bookmark a{
    background-color: #2b4269;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-radius: 4px;
    transition: color 0.3s, background-color 0.3s;
}
.custom-edit-btn__bookmark a:hover{
    background-color: #172743;
    text-decoration: none;
    color: #fff;
}

@media(max-width: 575px) {
    .content-f {
        flex-direction: column;
    }
    .custom-tabs {
        width: 100%;
    }
}
